/* Single Articles */

.single-article-title {
  text-align: center;
  font-size: 1.8em;
  text-decoration: none;
  color: #202020;
}
.single-article-body {
  font-style: italic;
  line-height: 4vh;
  padding: 8vh 5vw;
  padding-top: 0;
}

/* Actions Bar */
.action-bar {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: 2em auto;
  white-space: nowrap;
  align-items: center;
}
.sort-by,
.order-by {
  border: 1px solid #2c2c2c;
  background: none;
  border-radius: 2vw;
  padding: 0.5em 1em;
  margin-right: 1em;
}
.post-article {
  margin-left: auto;
  text-decoration: none;
  background: rgb(0, 102, 22);
  color: white;
  border-radius: 0.2em;
  border: whitesmoke;
  transition: 400ms ease-in;
  white-space: nowrap;
  padding: 0.5em 1em;
}
.post-article:hover {
  text-decoration: none;
  background: rgb(1, 153, 34);
  color: white;
  border-radius: 0.2em;
  border: whitesmoke;
  transition: 400ms ease-in;
  white-space: nowrap;
}
.sort-button {
  text-decoration: none;
  background: rgb(0, 106, 177);
  color: white;
  border-radius: 2vw;
  border: whitesmoke;
  transition: 400ms ease-in;
  padding: 0.5em 1em;
  width: 8em;
}
.sort-button:hover {
  text-decoration: none;
  background: rgb(2, 137, 228);
  color: white;
  border-radius: 2vw;
  border: whitesmoke;
  transition: 400ms ease-in;
  padding: 0.5em 1em;
  width: 8em;
}

/* Add Article */
.add-article {
  width: 100%;
  margin: 2em auto;
  width: 80%;
}
.add-article p {
  text-align: left;
}
.add-article-form {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  text-align: left;
}
.add-article-form label {
  margin: 0.5em 0;
}
.title-input {
  height: 1.7em;
}
.title-input,
.topic-select,
.article-input-body {
  border: 1px solid #2c2c2c;
  background: none;
  border-radius: 2vw;
  margin-top: 0.4em;
}
.topic-select {
  padding: 0.5em 1em;
}
.article-input-body {
  height: 40vh;
  width: 80vw;
}
.post-article-button {
  font-size: 1.1em;
  margin-left: auto;
  text-decoration: none;
  background: rgb(0, 102, 22);
  color: white;
  border-radius: 0.2em;
  border: whitesmoke;
  transition: 400ms ease-in;
  white-space: nowrap;
  padding: 0.5em 1em;
}
/* Article Cards */
.about-article {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.sub-container {
  margin: 0.5em 1em;
  width: 100%;
}
.article-info {
  display: flex;
  flex-direction: row;
}
.article-title {
  text-align: left;
  font-size: 1.3em;
  text-decoration: none;
  color: #202020;
}
.article-title:hover,
.topic-link:hover,
.author-link:hover {
  text-decoration: underline;
  color: #2c2c2c;
}
.topic-link,
.author-link {
  text-decoration: none;
  color: #2c2c2c;
}
.main-pen {
  font-size: 0.9em;
  padding-top: 0.2em;
}
.article-title h3 {
  padding-top: 0.2em;
}
.delete-button {
  margin-left: auto;
  border: none;
  background: rgb(158, 3, 3);
  color: white;
  border-radius: 2vh;
  transition: 300ms ease-in-out;
}
.delete-button:hover {
  border: none;
  background: rgb(231, 0, 0);
  color: white;
  border-radius: 2vh;
  transition: 300ms ease-in-out;
}
.article-intro {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-height: 1.5em;
  max-height: 1.5em * 2;
  margin: 0.5em 2em;
  padding: 0 1em;
}

/* Voting */
.voting {
  margin-left: 1em;
  margin-top: 0.7em;
}
.up,
.down {
  border: none;
  background: none;
  padding: 0.5em;
}
.fa-check-circle {
  color: rgb(19, 66, 10);
  transition: 300ms ease-in-out;
}
.fa-check-circle:hover {
  color: rgb(57, 197, 30);
  transition: 300ms ease-in-out;
}
.fa-times-circle {
  color: rgb(87, 16, 16);
  transition: 300ms ease-in-out;
}
.fa-times-circle:hover {
  color: rgb(238, 26, 26);
  transition: 300ms ease-in-out;
}

/* Media Queries */
@media only screen and (max-width: 560px) {
  .action-bar {
    white-space: normal;
    flex-direction: column;
  }
  .post-article {
    margin: 0.3em auto;
  }
  .sort-by,
  .order-by,
  .sort-button {
    margin: 0.3em auto;
  }
  .view-login,
  .user-login {
    font-size: 0.8em;
  }
  .article-info {
    display: none;
  }
}
@media only screen and (min-width: 720px) {
}
@media only screen and (min-width: 1080px) {
}
