.article-list {
  width: 100vw;
  margin: 0 auto;
}

.voting {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.article-input-body {
  height: 30vh;
  width: 70vw;
}

.single-article {
  /* text-align: justify; */
}

.voting-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.voting-title h3 {
  text-align: left;
  margin-left: 2vw;
  margin-top: 2vh;
  margin-bottom: 2vh;
  padding-left: 2vw;
}

.delete-button {
  margin: 1vh 2vw 0 auto;
}

.topic-link,
.article-title,
.author {
  text-decoration: none;
  color: #2c2c2c;
}
.topic-link:hover,
.article-title:hover,
.author:hover {
  text-decoration: underline;
  color: #2c2c2c;
}

.article-title {
  color: rgb(20, 20, 20);
}
.article-intro {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 3vh;
  padding: 3vh;
}

.about-article {
  text-align: left;
  margin-left: 2vw;
  padding-top: 2vh;
}

.fa-comments {
  margin: 0 1vw;
}

.fa-pen-alt {
  margin-right: 1vw;
}

.author-link {
  text-align: left;
  margin: 2vw;
}

.voting {
  margin-left: 2vw;
}

.up,
.down {
  border: none;
  background: none;
}

.fa-times-circle {
  padding: 1vh 1vw;
}
.votes {
  margin: 0;
  padding: 0;
  align-self: center;
}
.fa-check-circle {
  margin: 1vh 0;
}
.fa-check-circle:hover,
.fa-times-circle:hover {
  border: none;
  color: white;
  background: none;
}
