.about-comment {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.sub-container {
  margin: 0em 1em;
  width: 100%;
}
.comment-info {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
}
.comment-title {
  text-align: left;
  font-size: 1.3em;
  text-decoration: none;
  color: #202020;
}
.author-link:hover {
  text-decoration: underline;
  color: #2c2c2c;
}

.author-link {
  text-decoration: none;
  color: #2c2c2c;
}
.main-pen {
  font-size: 0.9em;
  padding-top: 0.2em;
}

.delete-button {
  margin-left: auto;
  border: none;
  background: rgb(158, 3, 3);
  color: white;
  border-radius: 2vh;
  transition: 300ms ease-in-out;
}
.delete-button:hover {
  border: none;
  background: rgb(231, 0, 0);
  color: white;
  border-radius: 2vh;
  transition: 300ms ease-in-out;
}
.comment {
  margin: 0.7em 0em;
  padding: 0 1em;
}

.post-comment-input {
  border: 1px solid #2c2c2c;
  background: none;
  border-radius: 2vw;
  padding: 0.5em 1em;
  margin-right: 1em;
}
.post-comment-button {
  white-space: nowrap;
  text-decoration: none;
  background: rgb(0, 106, 177);
  color: white;
  border-radius: 2vw;
  border: whitesmoke;
  transition: 400ms ease-in;
  padding: 0.5em 1em;
  width: 10em;
}
.post-comment-button:hover {
  white-space: nowrap;
  text-decoration: none;
  background: rgb(2, 137, 228);
  color: white;
  border-radius: 2vw;
  border: whitesmoke;
  transition: 400ms ease-in;
  padding: 0.5em 1em;
  width: 10em;
}
