.main-header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  width: 100%;
  background: #ff7d55;
  border-bottom: #404040 1vh solid;
  position: sticky;
  top: 0;
}

.nc-news {
  text-decoration: none;
  color: #404040;
  background: #ff7d55;
  border: unset;
  white-space: nowrap;
  transition: 400ms ease-in;
}
.nc-news:hover {
  text-decoration: none;
  color: #000;
  transition: 400ms ease-in;
}

.view-login,
.login-link {
  font-size: 2vh;
  margin: auto 3vw auto auto;
  margin-left: auto;
}
.user-login {
  font-style: italic;
  text-decoration: none;
  color: #383838;
  transition: 400ms ease-in;
}
.user-login:hover {
  font-style: italic;
  text-decoration: none;
  color: #000;
  transition: 400ms ease-in;
}
.login-link {
  text-decoration: none;
  color: #000;
  font-size: 2.5vh;
}

/* Hamburger */
.fa-bars {
  font-size: 5vh;
  margin: 1vh 5vw;
  padding: 2vh;
  color: #404040;
  border-radius: 50%;
  transition: 400ms ease-in;
}
.fa-bars:hover {
  font-size: 5vh;
  margin: 1vh 5vw;
  padding: 2vh;
  color: #000;
  border-radius: 50%;
  transition: 400ms ease-in;
}

@media only screen and (max-width: 320px) {
  .fa-bars:hover {
    background: unset;
  }
  .nc-news:hover {
    background: unset;
  }
}
