.main-header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  width: 100%;
  background: #ff8370;
  border-bottom: #404040 1vh solid;
}

/* Hamburger */
.fa-bars {
  font-size: 5vh;
  margin: 1vh 3vw;
  padding: 3vw;
  color: #404040;
  border-radius: 50%;
}
.fa-bars:hover {
  font-size: 5vh;
  margin: 1vh 3vw;
  padding: 3vw;
  color: #383838;
  background: #df3d3da1;
  border-radius: 50%;
  transition: 200ms ease-in;
}

@media only screen and (max-width: 320px) {
  .fa-bars:hover {
    background: unset;
  }
}
