.menu {
  position: absolute;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-items: left;
  background: #ff7d55e5;
  height: 100vh;
  width: 40vw;
  border-right: #ff7d55e5 1vw solid;
  border-top: #ffb6a0e5 1vw solid;
  border-top-right-radius: 2em;
  border-bottom-right-radius: 2em;
  margin-top: 1vh;
  padding: 10vh 0;
}

.menu li {
  justify-self: left;
  padding: 2vh;
  border-radius: 2em;
  margin: 2vh 15vw;
  border: #222222 solid 2px;
}
.menu li:hover {
  justify-self: left;
  padding: 2vh;
  border-radius: 2em;
  margin: 2vh 15vw;
  border: #222222 solid 2px;
  background: whitesmoke;
  transition: 300ms ease-in-out;
}

.menu-item {
  list-style: none;
  text-decoration: none;
  color: black;
  font-size: 3vh;
  text-transform: uppercase;
}

.night-mode {
  text-decoration: none;
  background: black;
  border-radius: 2em;
  border: none;
  color: white;
  transition: 200ms;
}
.night-mode:hover {
  text-decoration: none;
  background: white;
  border-radius: 25%;
  color: black;
  transition: 200ms;
  box-shadow: 2em 2em 2em;
}

@media only screen and (min-width: 320px) {
  .menu {
    width: 100vw;
  }
}
@media only screen and (min-width: 720px) {
  .menu {
    width: 60vw;
  }
}
