.user {
  display: flex;
  flex-direction: row;
  background: rgb(255, 255, 255);
}
.user-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  list-style: none;
}

.avatar-img {
  height: 10vh;
  width: 10vw;
  margin: 3vh;
  border-radius: 100%;
}
.username {
  text-decoration: none;
  color: unset;
}
.username:hover {
  text-decoration: none;
  color: #000;
}
