html,
body,
#root {
  text-align: center;
  background-color: #fff;
  color: #2c2c2c;
  margin: 0;
  padding: 0;
}

ul,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.App {
}

.card {
  border: #404040 solid 2px;
  background: rgba(255, 255, 255, 0.9);
  width: 90%;
  margin: 5vh auto;
  border-radius: 0.5em;
}
